.navbar{
    padding: 0rem;
    background-color: #3e3a3a;
}

.container {
    display: flex;
    justify-content: center;
}

.hero-bg-img1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(153, 108, 108, 0.5)), url("https://images.unsplash.com/photo-1461784121038-f088ca1e7714?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top:70px;
    padding-bottom:40px;
}
.hero-bg-img2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(153, 108, 108, 0.5)), url("https://images.unsplash.com/photo-1519892300165-cb5542fb47c7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top:70px;
    padding-bottom:40px;
}

.cropped {
    width: 400px; /* width of container */
    height: 200px; /* height of container */
    overflow: hidden;
}

.cropped img {
    margin: -10px 0px 0px -180px;
}

.h1 {
    font-size: 250%;
  }

.nav-link{
    font-size: large;
}

.pricingCard{
    max-width: 20rem;
}

.border-warning{
    border: 5px solid;
}

.textShadow{
    text-shadow: 2px 2px 4px #000000;
}
.boxShadow{
    box-shadow: 2px 2px 4px black;
}

.btn-primary:hover {
    border: 2px solid #000000;
    background-color: #ffffff;
    color: #000000;
    border-radius: 5px;
  }

.footer{
    background-color: #3e3a3a;
}
